.about-us {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto 28px;
  padding: 0 30px;
}

.about-us__title {
  @include h2;
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .about-us {
    width: 768px;
    margin-bottom: 25px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .about-us__title {
    margin-bottom: 50px;

    @include h2-tablet;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    width: 1150px;
    margin-bottom: 30px;
  }

  .about-us__wrapper {
    width: 875px;
    margin-left: auto;
  }

  .about-us__title {
    @include h2-desktop;
  }
}
