.advantages {
  @include reset-list;
}

.advantages__feature {
  padding-top: 50px;
  padding-bottom: 35px;

  background-repeat: no-repeat;
  background-position: top left;

  &--eco {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--price {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--photo-likes {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--handmade {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--local {
    background-image: url("../img/icon-feature-rocket.svg");
  }

  &--gift-pack {
    background-image: url("../img/icon-feature-gift.svg");
  }
}
