.catalog {
  margin-bottom: 55px;
}

.catalog__wrapper {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.catalog__item {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    width: 768px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .catalog__item {
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
.catalog__wrapper {
    display: flex;

    width: 1250px;
    padding-right: 100px;
    padding-left: 100px;

    flex-wrap: wrap;
  }

  .catalog__item {
    margin-bottom: 0;
  }
}
