.catalog__wrapper {
  margin-top: 30px;
  width: 260px;
  margin: 0 auto;
}

.catalog__item {
  margin-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .catalog__wrapper {
    width: 670px;
  }

  .catalog__item {
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    margin-bottom: 55px;
  }

  .catalog__wrapper {
    width: 1048px;
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    margin-bottom: 0;
  }
}
