.contacts {
  margin-bottom: 40px;
}

.contacts__wrapper {
  display: flex;

  width: 100%;

  flex-wrap: wrap;
}

.contacts__content {
  /*line-height: 30px;*/
  width: 260px;
  margin: 0 auto;
}

.contacts__title {
  font-size: 18px;

  margin-top: 0;
  margin-bottom: 40px;

  /*line-height: 30px;*/
}

.contacts__item {
  font-size: 15px;
  font-weight: 400;

  display: inline-flex;

  margin-bottom: 40px;

  color: #444444;
}

.contacts__type {
  width: 80px;
  margin-top: 0;
  margin-bottom: 0;
}

.contacts__info {
  width: 180px;
  margin-top: 0;
  margin-bottom: 0;
  &--email {
    a {
      border-bottom: 1px solid $theme-color;
    }
  }
}

.contacts__map {
  width: 100%;
  height: 457px;
  margin-bottom: 40px;
}

.contacts__img-map {
  width: 100%;
  height: inherit;
}

.contacts__wrapper-btn {
  width: 260px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 75px;
  }

  .contacts__content {
    width: 670px;
  }

  .contacts__title {
    position: relative;

    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

    @include h2-tablet;

    &::after {
      position: absolute;
      top: 0;
      right: 0;

      width: 47px;
      height: 81px;

      content: "";

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .contacts__info {
    width: 250px;
  }

  .contacts__wrapper-btn {
    width: 230px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    position: relative;

    width: 1048px;
    margin: 0 auto 100px;
  }

  .contacts__wrapper {
    position: relative;

    width: 875px;
    margin-left: auto;

    justify-content: space-between;
    align-items: center;
  }

  .contacts__content {
    display: flex;
    flex-direction: column;

    width: auto;
    margin: 0;
  }

  .contacts__title {
    width: auto;

    &::after {
      left: -110px;
    }
  }

  .contacts__map {
    width: 525px;
    height: 457px;
    margin-bottom: 0;
  }

  .contacts__wrapper-btn {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}
