.contacts {
  box-sizing: border-box;
  margin-bottom: 40px;
  padding-top: 45px;

  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-position: top center;
  background-size: auto 6px;
}

.contacts__content {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.contacts__title {
  font-size: 18px;

  margin-top: 0;
  margin-bottom: 33px;
}

.contacts__item {
  font-size: 15px;
  font-weight: 400;

  display: flex;

  margin-bottom: 35px;

  color: #444444;
}

.contacts__type {
  width: 33%;
  margin-top: 0;
  margin-bottom: 0;
}

.contacts__info {
  margin-top: 0;
  margin-bottom: 0;

  &--email {
    color: #444444;

    text-decoration-color: $theme-color;
    text-decoration-style: solid;
    text-decoration-line: underline;

    &:hover {
      color: $theme-color;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &--address {
    line-height: 30px;
  }
}

.contacts__map {
  position: relative;

  height: 457px;
  margin-bottom: 38px;

  background-color: #f2ead9;

  &::after {
    position: absolute;
    z-index: 1;
    top: 145px;
    left: calc(50% - 20px);

    display: block;

    width: 67px;
    height: 100px;

    content: "";

    background-image: url("../img/icon-map-pin.svg");
    background-repeat: no-repeat;
  }
}

.contacts__img-map {
  display: block;

  width: 100%;
  height: 100%; /* некрасиво тянет */
}

.contacts__wrapper-btn {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-bottom: 55px;
    padding-top: 58px;

    background-size: auto 16px;
  }

  .contacts__content {
    display: flex;

    width: 768px;
    margin-bottom: 55px;
    padding: 0 50px;

    flex-wrap: wrap;
  }

  .contacts__title {
    position: relative;

    width: 100%;
    margin-bottom: 35px;
    padding-top: 15px;
    padding-bottom: 16px;

    @include h2-tablet;

    &::after {
      position: absolute;
      top: 0;
      right: 0;

      width: 47px;
      height: 81px;

      content: "";

      background-image: url("../img/icon-flag.svg");
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  .contacts__item {
    font-size: 17px;

    width: 50%;
    margin-bottom: 0;
  }

  .contacts__type {
    width: 23.5%;
  }

  .contacts__info {
    width: 76.5%;
  }

  .contacts__map {
    margin-bottom: 55px;
  }

  .contacts__wrapper-btn {
    width: 768px;
    padding-right: 100px;
    padding-left: 100px;
  }

  .contacts__btn {
    box-sizing: border-box;
    width: 230px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    padding-top: 92px;

    background-size: auto 23px;
  }

  .contacts__container {
    position: relative;

    box-sizing: border-box;
    width: 1150px;
    margin: 0 auto 105px;
    padding: 0 50px;
  }

  .contacts__wrapper {
    position: relative;

    width: 875px;
    min-height: 457px;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
  }

  .contacts__content {
    width: 300px;
    margin: 0 0 48px;
    padding-right: 0;
    padding-left: 0;
  }

  .contacts__title {
    margin-top: 55px;
    margin-left: -3px;

    @include h2-desktop;

    &::after {
      top: 5px;
      left: -110px;
    }
  }

  .contacts__item {
    font-size: 17px;

    width: 100%;
    margin-bottom: 30px;
  }

  .contacts__type {
    width: 25%;
  }

  .contacts__info {
    width: 75%;
  }

  .contacts__map {
    position: absolute;
    top: 0;
    right: 0;

    width: 525px;
    height: 100%;
    margin-bottom: 0;
  }

  .contacts__img-map {
    height: 100%;
  }

  .contacts__wrapper-btn {
    width: 300px;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .contacts__btn {
    margin: 0;
  }
}
