.copyright {
  min-width: 185px;
  padding-top: 20px;

  text-align: center;

  border-top: 1px solid rgba(#444444, 0.2%);
}

.copyright__text {
  font-size: 19px;

  display: inline-block;

  margin-right: 25px;

  vertical-align: middle;
}

.copyright__link {
  font-size: 0;

  display: inline-block;

  width: 27px;
  height: 34px;

  vertical-align: middle;

  opacity: 0.6;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 0;

    border-top: none;
  }
}
