.copyright {
  min-width: 183px;
  padding-top: 22px;

  text-align: center;

  border-top: 1px solid rgba(#444444, 0.2%);
}

.copyright__link {
  font-size: 0;

  position: relative;
  top: 0;

  display: block;

  width: 100%;
  padding-top: 5px;

  text-align: left;
  vertical-align: middle;

  color: #000000;

  &:hover,
  &:active {
    .copyright__logo {
      fill: #46c1ae;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  font-size: 19px;
}

.copyright__logo {
  position: absolute;
  top: 2px;
  right: 0;

  fill: $theme-color;
}

@media (min-width: $tablet-width) {
  .copyright {
    padding-top: 3px;

    border-top: none;
  }

  .copyright__logo {
    top: 5px;
  }
}
