.form {
  input[type='radio'] + label,
  input[type='checkbox'] + label {
    line-height: 18px;

    position: relative;

    display: block;

    padding: 25px 0 25px 64px;

    cursor: pointer;
  }
  input + label::before {
    top: 0;
    bottom: 0;
    left: 0;

    margin: auto;
  }
  input[type='radio'] + label::before,
  input[type='radio']:checked + label::before {
    border: 1px solid #000;
    border-radius: 50%;

    @include pseudo(40px, 40px);
  }
  input[type='radio']:checked + label::after {
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0 + 10px;

    margin: auto;

    border-radius: 50%;
    background-color: $theme-color;

    @include pseudo(20px, 20px);
  }
  input[type='checkbox'] + label::before {
    border: 1px solid #000;

    @include pseudo(40px, 40px);
  }
  input[type='checkbox']:checked + label::before {
    border: 1px solid #000;
    background-image: url('../img/icon-tick.svg');

    @include pseudo-img(40px, 40px);
  }
  input[type='text'],
  input[type='tel'],
  input[type='email'],
  textarea {
    font-size: 17px;
    line-height: 18px;

    display: block;

    padding: 18px 0;

    border: none;
  }
  textarea {
    padding: 0 80px 0 18px;
  }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    font-weight: 400;

    color: rgba(#444, .5%);
  }
  input::-moz-placeholder,
  textarea::-moz-placeholder {
    font-weight: 400;

    color: rgba(#444, .5%);
  }
  input:-moz-placeholder,
  textarea:-moz-placeholder {
    font-weight: 400;

    color: rgba(#444, .5%);
  }
}

.form__description {
  font-size: 13px;

  @include content-text;
}

.form__area {
  border: none;
}

.form__caption {
  position: relative;

  text-transform: uppercase;

  color: $theme-color;
  &::after {
    top: 0;
    bottom: 0;
    left: 70px;

    width: 100%;
    margin: auto;

    background-color: $theme-color;

    @include pseudo-img(200px, 1px);
  }
}

.form__annotation {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;

  color: #444;
}

.form__btn {
  margin: 0 auto;
  padding: 20px 47px;

  border: none;
  background-color: none;
}
