.header-navigation {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 320px;
  margin: 22px auto 0;
}

.header-navigation__toggle {
  font-size: 0;

  position: absolute;
  top: 5px;
  right: 0;

  display: block;

  width: 20px;
  height: 20px;

  border: none;
  background-image: url('../img/icon-menu-open.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.header-navigation__menu {
  @include reset-list;
}

.header-navigation__elem {
  box-sizing: border-box;
  padding: 30px 0 30px 75px;

  border-top: 1px solid rgba(#444, .2%);
  background-repeat: no-repeat;
  background-position: left 30px center;

  &--hidden {
    display: none;
  }

  &--search {
    background-image: url('../img/icon-search.svg');
  }

  &--basket-empty {
    background-image: url('../img/icon-cart.svg');
  }
}

.header-navigation__link {
  display: block;
}

@media (min-width: $tablet-width) {
  .header-navigation {
    flex-direction: row;

    width: 670px;
    margin: 0 auto;

    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  .header-navigation__toggle {
    display: none;
  }

  .header-navigation__menu {
    display: flex;

    flex-wrap: wrap;
    align-items: flex-start;

    &--site {
      width: 320px;

      order: 1;
    }

    &--user {
      width: 520px;

      justify-content: flex-end;
    }
  }

  .header-navigation__elem {
    border-top: none;

    &--site {
      width: 50%;
      padding: 20px 20px 0 0;
    }

    &--user {
      padding-right: 25px;
      padding-left: 25px;
    }

    &--search {
      width: 84px;

      border-right: 1px solid rgba(#444, .2%);
      border-left: 1px solid rgba(#444, .2%);
      background-position: center center;
    }

    &--basket-empty {
      padding-right: 0;
      padding-left: 85px;
    }
  }

  .header-navigation__link {
    font-size: 15px;

    &--search {
      font-size: 0;
    }

    &--basket-empty {
      font-size: 17px;
    }
  }
}

@media (min-width: $desktop-width) {
  .header-navigation {
    width: 1048px;
  }

  .header-navigation__menu {
    &--site {
      width: 420px;

      order: -1;
      justify-content: space-between;
    }

    &--user {
      width: 420px;

      order: 2;
    }
  }

  .header-navigation__elem {
    &--site {
      width: 45%;
      padding: 30px 0;

      &:first-child {
        border-right: 1px solid rgba(#444, .2%);
      }

      .header-navigation__link {
        font-size: 17px;
      }
    }

    &--hidden {
      display: flex;
      .header-navigation__link {
        font-size: 15px;
      }
    }

    &--user {
      margin: 0;
    }
  }
}
