.header-navigation {
  position: relative;

  width: 320px;
  margin: 0 auto;
}

.header-navigation__toggle {
  font-size: 0;

  position: absolute;
  top: 5px;
  right: 30px;

  display: block;

  width: 20px;
  height: 20px;

  border: none;
  background-image: url('../img/icon-menu-close.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.header-navigation__menu {
  @include reset-list;
}

.header-navigation__elem {
  &--hidden {
    display: none;
  }
}

.header-navigation__link {
  display: block;

  margin: 0 30px;
  padding: 30px 0 30px 45px;

  border-top: 1px solid rgba(#444, .2%);
  background-repeat: no-repeat;
  background-position: left center;

  &--search {
    background-image: url('../img/icon-search.svg');
  }

  &--basket-empty {
    background-image: url('../img/icon-cart.svg');
  }
}

@media (min-width: $tablet-width) {
  .header-navigation {
    display: flex;

    box-sizing: border-box;
    width: 768px;
    padding: 0 50px;

    flex-wrap: wrap;
    align-items: flex-start;
  }

  .header-navigation__toggle {
    display: none;
  }

  .header-navigation__menu {
    display: flex;

    flex-wrap: wrap;
    align-items: flex-start;

    &--site {
      order: 3;
    }

    &--user {
      max-width: 550px;
      margin-left: auto;

      justify-content: flex-end;
      order: 2;
    }
  }

  .header-navigation__link {
    border-top: none;

    &--site {
      font-size: 15px;

      margin-right: 35px;
      margin-left: 0;
      padding-top: 20px;
      padding-bottom: 0;
      padding-left: 0;
    }

    &--user {
      margin-right: 0;
      padding-left: 0;
    }

    &--search {
      font-size: 0;

      min-width: 20px;
      padding-right: 30px;
      padding-left: 30px;

      border-right: 1px solid rgba(#444, .2%);
      border-left: 1px solid rgba(#444, .2%);
      background-position: center center;
    }

    &--basket-empty {
      font-size: 17px;

      padding-right: 0;
      padding-left: 50px;
    }
  }
}

@media (min-width: $desktop-width) {
  .header-navigation {
    width: 1250px;
    padding: 0 100px;

    justify-content: space-between;
  }

  .header-navigation__menu {
    width: 420px;

    &--site {
      order: 1;
    }

    &--user {
      margin-left: 0;

      order: 3;
    }
  }

  .header-navigation__elem {
    &--hidden {
      display: flex;
    }
  }

  .header-navigation__link {
    &--site {
      font-size: 17px;

      padding-top: 30px;
      padding-bottom: 30px;
    }

    &--hidden {
      font-size: 15px;

      padding-top: 20px;
      padding-bottom: 0;
    }
  }
}
