.page-main {
  border-top: 1px solid rgba(#444444, 0.2%);
}

.page-main__title-container {
  background-color: #f1f1f1;

  &--transp {
    background-color: transparent;
  }
}

.page-main__title-wrapper {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto 25px;
  padding: 70px 30px 75px;

  &--transp {
    margin-bottom: 120px;
    padding-bottom: 0;
  }
}

.page-main__title {
  font-size: 27px;
  line-height: 30px;

  margin-top: 0;
  margin-bottom: 0;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-main__title-wrapper {
    width: 768px;
    margin-bottom: 73px;
    padding: 95px 50px 80px;

    &--transp {
      margin-bottom: 295px;
      padding-top: 150px;
    }
  }

  .page-main__title {
    padding-right: 80px;
    padding-left: 80px;

    @include h2-tablet;
  }
}

@media (min-width: $desktop-width) {
  .page-main__title-wrapper {
    width: 1150px;
    margin-bottom: 130px;
    padding-bottom: 95px;

    &--transp {
      margin-bottom: 265px;
      padding-top: 155px;
    }
  }

  .page-main__title {
    padding-right: 210px;
    padding-left: 210px;

    @include h2-desktop;
  }
}
