.page-header {
  position: relative;
}

.page-header__logo {
  display: block;

  margin-bottom: 22px;

  text-align: center;
}

.page-header__delivery-info {
  font-size: 15px;
  font-weight: 400;

  display: none;

  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;

  color: #444;
}

@media (min-width: $tablet-width) {
  .page-header {
    height: 88px;

    border-bottom: 1px solid rgba(#444, .2%);
  }

  .page-header__logo {
    margin-top: 22px;
  }

  .page-header__delivery-info {
    display: flex;

    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    order: 1;
  }

  .page-header__delivery-info {
    position: absolute;
    right: 0;
    bottom: 30px;

    padding-top: 0;
  }
}
