.popup__form {
  box-sizing: border-box;
  width: 320px;
  margin: 30px auto;/*временно*/
  padding: 35px 30px 45px;

  text-align: center;

  label {
    display: inline-block;

    margin-bottom: 30px;
    padding: 20px 34px;

    cursor: pointer;

    border: 2px solid rgba(#444444, 0.2%);
  }
}

.popup__checkbox:checked + label {
  border: 2px solid $theme-color;
}

.popup__title {
  @include h2;
  margin-bottom: 25px;

  text-align: center;
  text-transform: uppercase;
}

.popup__area {
  margin-right: 0;
  margin-left: 0;
  padding: 0;

  border: none;
}

.popup__caption {
  font-size: 15px;
  font-weight: 400;

  margin: 0 auto 28px;
  /*line-height: 30px;*/

  color: #444444;
}

.popup__btn {
  color: #ffffff;
  border: none;
  background-color: $theme-color;
}

@media (min-width: $tablet-width) {
  .popup__form {
    width: 566px;
    min-height: 336px;
    padding: 50px 105px;

    box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

    label {
      padding-right: 48px;
      padding-left: 48px;
    }
  }

  .popup__title {
    font-size: 30px;
    /*line-height: 57px;*/

    margin-bottom: 30px;
  }

  .popup__caption {
    font-size: 17px;
  }
}
