.products {
  width: 100%;
  height: auto;

  background-image: url('../img/hero-mobile@1x.jpg');
  background-repeat: no-repeat;
  background-position: center top;
}

.products .page-main__title {
  margin-bottom: 250px;
  padding: 0 8px;
}

.products__list {
  @include list;
}

.products__item {
  position: relative;

  padding: 30px;

  background-color: $theme-color;

  a {
    color: #fff;
  }

  &--interior {
    &::before {
      top: 10px;
      right: 40px;

      background-image: url('../img/icon-interior.svg');

      @include pseudo-img(40px, 62px);
    }
  }

  &--toys {
    &::before {
      top: 10px;
      right: 30px;

      background-image: url('../img/icon-toy.svg');

      @include pseudo-img(60px, 60px);
    }
  }
}
