.products {
  margin-bottom: 25px;

  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
    // background-size: 1150px auto;
  }
}

.products__item {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;

  &--interior {
    background-color: $theme-color;
  }

  &--toys {
    background-color: #56c3b2;
  }

  &:hover {
    margin-top: -5px;
    padding-bottom: 5px;
  }
}

.products__link {
  font-size: 19px;

  display: block;

  padding: 30px 185px 26px 30px;

  color: #ffffff;
  background-repeat: no-repeat;

  &--interior {
    background-image: url("../img/icon-interior.svg");
    background-position: center right 35px;
  }

  &--toys {
    padding-top: 27px;
    padding-bottom: 33px;

    background-image: url("../img/icon-toy.svg");
    background-position: center right 25px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .products {
    position: relative;

    margin-bottom: 32px;

    background-image: url("../img/hero-tablet@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      // background-size: 2300px auto;
    }

    &::after {
      position: absolute;

      bottom: 0;

      display: block;

      width: 100%;
      height: 24px;

      content: "";

      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-size: auto 24px;
    }
  }

  .products__wrapper {
    box-sizing: border-box;
    width: 768px;
    margin: 0 auto;
    padding: 0 50px;
  }

  .products__items {
    display: flex;

    flex-wrap: wrap;
  }

  .products__item {
    width: 50%;
  }

  .products__link {
    padding-left: 35px;
    padding-bottom: 47px;
    font-size: 20px;

    &--interior {
      background-position: top 30px right 35px;
    }

    &--toys {
      background-position: top 30px right 30px;
    }
  }
}

@media (min-width: $desktop-width) {
  .products {
    margin-bottom: 60px;

    background-image: url("../img/hero-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
      // background-size: 2300px auto;
    }
  }

  .products__wrapper {
    width: 1150px;
  }

  .products__link {
    font-size: 20px;

    padding-right: 375px;
    padding-bottom: 40px;
  }
}
