.social {
  margin-bottom: 28px;
}

.social__link {
  font-size: 0;

  display: inline-block;

  width: 25px;
  height: 30px;
  margin-right: 25px;

  vertical-align: middle;

  background-repeat: no-repeat;
  background-position: center;

  &--inst {
    background-image: url('../img/icon-insta.svg');
  }

  &--fb {
    background-image: url('../img/icon-fb.svg');
  }

  &--tw {
    background-image: url('../img/icon-twitter.svg');
  }

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
