.social {
  margin-bottom: 25px;
}

.social__link {
  font-size: 0;

  display: inline-block;

  width: 25px;
  height: 30px;
  margin-right: 29px;

  vertical-align: middle;

  background-repeat: no-repeat;

  &--inst {
    background-image: url("../img/icon-insta.svg");
    background-position: center bottom 2px;

    &:hover {
      background-image: url("../img/icon-insta--hover.svg");
    }

    &:active {
      opacity: 0.3;
      background-image: url("../img/icon-insta--hover.svg");
    }
  }

  &--fb {
    background-image: url("../img/icon-fb.svg");
    background-position: center;

    &:hover {
      background-image: url("../img/icon-fb--hover.svg");
    }

    &:active {
      opacity: 0.3;
      background-image: url("../img/icon-fb--hover.svg");
    }
  }

  &--tw {
    background-image: url("../img/icon-twitter.svg");
    background-position: center top 7px;

    &:hover {
      background-image: url("../img/icon-twitter--hover.svg");
    }

    &:active {
      opacity: 0.3;
      background-image: url("../img/icon-twitter--hover.svg");
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-bottom: 4px;

    margin-left: 73px;
  }

  .socail__link {
    background-position: center;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-bottom: 0;

    margin-left: 73px;
  }
}
