.social {
  margin-bottom: 25px;
}

.social__link {
  position: relative;
  font-size: 0;

  display: inline-block;

  width: 25px;
  height: 30px;
  margin-right: 29px;

  vertical-align: middle;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    .social__icon {
      fill: #46c1ae;
    }
  }

  &:active {
    .social__icon {
      fill: #46c1ae;
      opacity: 0.3;
    }
  }
}

.social__icon {
  position: absolute;
  fill: #000000;

  &--inst {
    width: 22px;
    height: 21px;
    top: 7px;
    left: 0;
  }

  &--fb {
    width: 15px;
    height: 28px;
    left: 3px;
  }

  &--tw {
    width: 23px;
    height: 20px;
    top: 7px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-bottom: 4px;

    margin-left: 80px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-bottom: 0;
    margin-top: 3px;
  }
}
