.week-hit {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto 75px;
  padding: 0 30px;
}

.week-hit__name {
  @include h2;
}

.week-hit__label {
  margin-top: 10px;
  margin-bottom: 30px;

  text-transform: uppercase;

  color: $theme-color;
}

.week-hit__about {
  color: #444;
}

.week-hit__description {
  font-size: 15px;
  font-weight: 400;

  margin-top: 0;
  margin-bottom: 35px;
}

.week-hit__features {
  font-size: 15px;
  font-weight: 400;

  width: 100%;
  margin-bottom: 30px;

  border-collapse: collapse;
}

.week-hit__benefit {
  height: 35px;

  border-bottom: 1px solid rgba(#444, .2%);
}

.week-hit__option {
  text-align: left;
}

.week-hit__img {
  margin-bottom: 25px;
}

.week-hit__purchase {
  text-align: center;
}

.week-hit__price {
  font-weight: 700;

  margin-top: 0;
  margin-bottom: 25px;
}

@media (min-width: $tablet-width) {
  .week-hit {
    width: 768px;
    margin-bottom: 130px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .week-hit__title {
    display: flex;

    width: 100%;
    margin-bottom: 55px;

    justify-content: space-between;
  }

  .week-hit__name {
    @include h2-tablet;
  }

  .week-hit__label {
    margin-top: 0;
    margin-bottom: 0;

    text-align: center;

    flex: 0;
  }

  .week-hit__about {
    position: relative;

    display: flex;
    flex-direction: column;

    flex-wrap: wrap;
    justify-content: space-between;
  }

  .week-hit__description {
    font-size: 17px;

    width: 290px;
    margin-bottom: 55px;
  }

  .week-hit__features {
    width: 290px;
    margin-bottom: 60px;
  }

  .week-hit__img {
    position: absolute;
    top: 0;
    right: 0;

    width: 335px;
    height: 100%;
    margin-bottom: 0;
  }

  .week-hit__purchase {
    width: 290px;
  }

  .week-hit__price {
    font-size: 20px;

    margin-bottom: 35px;
  }
}

@media (min-width: $desktop-width) {
  .week-hit {
    position: static;

    width: 1250px;
    margin-bottom: 165px;
    padding-right: 100px;
    padding-left: 100px;
  }

  .week-hit__wrapper {
    position: relative;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 875px;
    min-height: 635px;
    margin-left: auto;
    padding-top: 65px;

    align-items: flex-start;
    flex-wrap: wrap;
  }

  .week-hit__name {
    @include h2-desktop;
  }

  .week-hit__label {
    position: absolute;
    left: -130px;

    width: 100px;
  }

  .week-hit__about {
    position: static;
  }

  .week-hit__features {
    margin-bottom: 100px;
  }

  .week-hit__img {
    z-index: -1;

    width: 545px;
    height: 100%;
  }
}
